@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
}

#logo {
    width: 160px;
    height: 160px;
    position: relative;
    background-image: url('logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -30%);
    margin-bottom: 0px;
}

#discord {
    position: absolute;
    left: 50%;
    top: 410%;
    transform: translate(-50%, -450%);
    z-index: 9999;
    padding-bottom: 25px;
}

#background {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 120%;
    height: 120%;
    transform: translate(-50%, -50%);
    background-image: url('background.png');
    background-repeat: no-repeat;
}
