.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://i.imgur.com/K1Q1YK8.png');
}
.home-image {
  top: 10%;
  left: 0px;
  right: 0px;
  width: 200px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-text {
  top: 63%;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 400px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-family: "JetBrainsMono-Medium";
  text-transform: capitalize;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text1 {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-link {
  color: #ffffff;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}
.home-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-text2 {
  color: rgb(255, 255, 255);
}
@media(max-width: 991px) {
  .home-image {
    top: 10%;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-text {
    width: 400px;
  }
  .home-text1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-image {
    top: 10%;
  }
  .home-text {
    width: 400px;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text2 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-image {
    top: 10%;
  }
  .home-text {
    width: 400px;
    font-family: JetBrainsMono-Medium;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
